@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
   --bg-violet: hsl(273, 75%, 66%);
   --bg-blue: hsl(240, 73%, 65%);

   --txt-darkGrey: hsl(237, 12%, 33%);
   --txt-lightGrey: hsl(240, 6%, 50%);

   --divide-grey: hsl(240, 5%, 91%);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: "Kumbh Sans", sans-serif;
   font-size: 12px;
   background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;
   width: 100vw;
   height: 100vh;
   display: grid;
   place-items: center;
}

h1 {
   margin-top: 45%;
   text-align: center;
   font-size: 2rem;
}

hr {
   border: none;
   height: 1px;
   background-color: hsla(240, 6%, 50%, 0.274);
}

.container {
   background-color: white;
   max-height: 80vh;
   width: 90vw;
   border-radius: 25px;
   padding: 1.5rem;
   position: relative;
   margin-top: 3rem;
   display: flex;
   flex-direction: column;
   padding-top: 0;
}

.desktop-imgs {
   display: none;
}

.mobile-imgs {
   position: relative;
   /* outline: 1px solid red; */
}

.bg-mb {
   position: absolute;
   top: 0%;
   left: 50%;
   transform: translate(-50%, -00%);
}

.il-mb {
   position: absolute;
   top: 0%;
   left: 50%;
   transform: translate(-55%, -55%);
}

.accordion {
   overflow: hidden;
   margin: 1rem 0;
}

.accordion__label,
.accordion__content {
   padding: 1rem 0;
}

.accordion__label {
   display: block;
   cursor: pointer;
   position: relative;
   color: var(--txt-lightGrey);
   transition: all 0.5s ease;
   flex: 1;
}

.accordion__label:hover {
   color: coral;
}

.accordion__label:focus {
   color: black;
   font-weight: 700;
   outline: none;
}

.accordion__label::after {
   content: "";
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 0.5rem;
   width: 10px;
   height: 6px;
   background-image: url("./images/icon-arrow-down.svg");
   transition: all 0.5s ease;
}

.accordion__content {
   line-height: 1.6;
   display: none;
   color: var(--txt-lightGrey);
   padding-top: 0;
   flex: 0;
}

.accordion__input {
   display: none;
}

.accordion__input:checked ~ .accordion__content {
   display: block;
}

.accordion__input:checked ~ .accordion__label {
   color: black;
   font-weight: 700;
}

.accordion__input:checked ~ .accordion__label::after {
   transform: translateY(-50%) rotate(180deg);
}

@media (min-width: 768px) {
   body {
      font-size: 1.25rem;
      padding-top: 20%;
   }

   h1 {
      font-size: 2.5rem;
      margin-top: 40%;
   }

   .container {
      width: 80vw;
      min-height: 70vh;
      padding: 2rem;
      padding-top: 0;
   }

   .bg-mb {
      width: 80%;
      position: absolute;
      top: 0%;
      left: 50%;
   }

   .il-mb {
      width: 90%;
      position: absolute;
      top: 0%;
      left: 50%;
   }
}

@media (min-width: 1024px) {
   body {
      font-size: 1.5rem;
   }

   h1 {
      font-size: 3rem;
   }

   .accordion__label,
   .accordion__content {
      padding: 1.5rem 1rem;
   }
}

@media (min-width: 1440px) {
   body {
      font-size: 14px;
      padding-top: 0;
   }
   h1 {
      font-size: 2rem;
      margin-top: 0;
      text-align: left;
   }

   .container {
      flex-direction: row;
      max-width: 65vw;
      max-height: 65vh;
      margin-top: 0;
      padding: 4rem;
      column-gap: 1rem;
      /* overflow: hidden; */
   }

   .img-wrap {
      flex: 1;
   }

   .mobile-imgs {
      display: none;
   }

   .desktop-imgs {
      display: block;
      position: relative;

      height: 100%;
      width: 100%;
   }

   .bg-dk {
      position: absolute;

      transform-origin: right;
      left: calc((966px - 100% + 3rem) * -1);
      top: calc((945px - 150% + 3rem) * -1);
   }

   .il-dk {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-8rem, -50%);
   }

   .box-dk {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(calc(-50% - 4rem), -25%);
   }

   .content-wrap {
      margin: auto 0;
      flex: 1;
   }

   .accordion {
      overflow: hidden;
      margin: 1rem 0;
   }

   .accordion__label,
   .accordion__content {
      padding: 1rem 0;
   }
}
